<!DOCTYPE html>
<html lang="en">

<head>

	
    {% load static %}

	<link href="{% static 'vendor/jquery-nice-select/css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>


    <div id="preloader">
        <div class="waviy">
		   <span style="--i:1">L</span>
		   <span style="--i:2">o</span>
		   <span style="--i:3">a</span>
		   <span style="--i:4">d</span>
		   <span style="--i:5">i</span>
		   <span style="--i:6">n</span>
		   <span style="--i:7">g</span>
		   <span style="--i:8">.</span>
		   <span style="--i:9">.</span>
		   <span style="--i:10">.</span>
		</div>
    </div>

    <div id="main-wrapper">



        <div class="content-body">
            <div class="container-fluid">


                <div class="row">


					<div class="col-xl-6 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Upload File</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form custom_file_input">
                                    <form action="/analysis/" class="form" method="post"> {% csrf_token %}


                                        <div class="input-group mb-3">
											<button class="btn btn-primary btn-sm" type="submit">Analyse</button>
                                            <div class="form-file">
                                                <input type="file" name="csv_file" class="form-file-input form-control">
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
    </div>


    <script src="{% static 'vendor/global/global.min.js' %}"></script>
	<script src="{% static 'vendor/jquery-nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
	<script src="{% static 'js/dlabnav-init.js' %}"></script>
	<script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>  
</body>
</html>